@import "~bootstrap/scss/bootstrap.scss";

.pole {
  width: 20px;
  height: 125px;
  background-color: black;
  border: none;
}

.container {
   margin: auto;
   display: flex;
    justify-content: center;
}

.blackBox {
display: flex;
flex-direction: column;
justify-content: space-around;
    width: 100px;
  height: 200px;
  background-color: black;
}

.redLight {
    background-color: red;
    border-radius: 50%;
    width: 50px;
  height: 50px;
  margin: auto;
  border: none;
}

.yellowLight {
    background-color:yellow;
    border-radius: 50%;
    width: 50px;
  height: 50px;
  margin: auto;
  border: none;
}

.greenLight {
    background-color:green;
    border-radius: 50%;
    width: 50px;
  height: 50px;
  margin: auto;
  border: none;
}

.selected {
    box-shadow: 0px 0px 40px yellow;
}
